<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="br.com.nutri.app.api.repository.AlunoMapper">

    <resultMap type="br.com.nutri.app.api.model.Aluno" id="alunoResult">
        <result column="id_aluno" property="idAluno"/>
        <result column="nome_aluno" property="nomeAluno"/>
        <result column="idade_aluno" property="idadeAluno"/>
        <result column="sexo_aluno" property="sexoAluno"/>
        <result column="cpf" property="cpfAluno"/>
        <result column="rg" property="rgAluno"/>
    </resultMap>

    <insert id="insereAluno" keyProperty="idAluno">
        <selectKey keyProperty="idAluno" order="AFTER" resultType="int">
            SELECT last_insert_id() as idAluno
        </selectKey>
        INSERT INTO aluno
            (nome_aluno,
             idade_aluno,
             sexo_aluno,
             cpf,
             rg)
        VALUES
           (#{nomeAluno},
            #{idadeAluno},
            #{sexoAluno},
            #{cpfAluno},
            #{rgAluno})
    </insert>

    <update id="atualizaAluno">
        UPDATE aluno SET
         nome_aluno=#{nomeAluno},
         idade_aluno=#{idadeAluno},
         sexo_aluno=#{sexoAluno},
         cpf=#{cpfAluno},
         rg=#{rgAluno}
        WHERE id_aluno=#{idAluno}
    </update>


    <select id="listaAlunos" resultMap="alunoResult">
        SELECT * FROM aluno
    </select>

    <select id="pegaAluno" resultMap="alunoResult">
        SELECT * FROM aluno
        WHERE id_aluno=#{idAluno}
    </select>


</mapper>